{% extends "base.html" %}
{% load static %}
{% block page_content  %}
  <head>
    <link rel="stylesheet"  href="{%  static  'css/address.css'  %}">
    <title>Address Verification</title>
    <script>
    </script>
  </head>

    <div class="container">
    <h1>Address Verification</h1>
    </div>

    <div class = "bigbox">
    <label for="name"><b>Name &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</b></label>
    <input type="text" placeholder="Full Name" name="name" id="name" required>
    <br><br>
    <label for="al1"><b>Address Line 1</b></label>
    <input type="text" placeholder="House Name / House Number / Company Name / Apartment  " name="al1" id="al1" required>
    <br><br>
    <label for="al2"><b>Address Line 2</b></label>
    <input type="text" placeholder="  Street name & Post Office " name="al2" id="al2" required>
    
    <br><br>
    <label for="twn"><b>Nearest Town &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </b></label>
    <select name="town" id="town">
    <option value=" Idappilli" selected="selected">Select Town
    </option>

    <option value="Idappilli"> Idappilli</option>
    <option value="Kakanad"> Kakanad</option>
    <option value="Palarivattom"> Palarivattom</option>
    <option value="Fort_Kochi"> Fort_Kochi</option>
    <option value="Kaloor"> Kaloor</option>
    </select>

    <div class="dropdown">

    <br>
  <br>
  <br>
    <label for="pin"><b>Pin Code&nbsp &nbsp &nbsp &nbsp  &nbsp</b></label>
    <input type="text" placeholder="Pincode" name="pin" id="pin" minlength = 6 maxlength = 6 inputmode="numeric" pattern="^(?(^00000(|-0000))|(\d{5}(|-\d{4})))$"  required>
    <hr>
    <label for="adhn"><b>Aadhar Number &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</b></label>
    <input type="text" placeholder="12 digit Aadhaar Number" name="adhn" id="adhn" inputmode="numeric" maxlength = 12  minlength = 12 required>
    <br><br>

    <button onclick = "proof" type="submit" class="registerbtn">Submit</button>
  </div>
  </div>
  

  
</form>
{% endblock  %}
